.container{
	background-color: red;
	width: 30%;
	margin: 0 auto;
	border-radius: 10px;
}

.numberButtons{
	border: 2px solid black;
	width: 74px;
	background-color: blue;

}

.operatorbuttons{
	background-color: green;
	position: relative;
	left: 83px;
	bottom: 104px;
	width: 30px;
}

