.container{
	background-color: red;
	width: 30%;
	margin: 0 auto;
	border-radius: 10px;
}

.numberButtons{
	width: 85px;
border: 2px solid black;
}

.operatorbuttons{
	background-color: green;
	position: relative;
	left: 83px;
	bottom: 104px;
	width: 30px;
}

.display{
	border: 2px solid black;
	border-radius: 10px;
	color: white;
	width: 110px;
	text-align: right;
}

.button{
	color: white;
	background-color: rgb(9, 66, 118);
	border-radius: 50%;
	margin-right: 4.8%;
}

.specialButton{
	border-radius: 50%;
	color: white;
	background-color: rgb(11, 93, 155);
}










